/* Essential Start */
:root {
  --color1: #318bd0;
  --color2: #0a0a0a;
  --color3: #f0db4f;
  --color4: #ffffff;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purples: #a82dd1;
  --yellows: #fff565;
  --red: #ae2828;
}

.light {
  --bg: var(--gray0);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
  --bg-dropdown: var(--gray0);
  --text: var(--gray6);
  --text-button: var(--gray0);
  --border-color: var(--gray5);
  --border-button: var(--gray0);
  --bg-solar: var(--yellow);
  --bg-button: var(--gray6);
}

.dark {
  --bg: var(--gray5);
  --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
  --bg-dropdown: var(--gray6);
  --text: var(--gray0);
  --text-button: var(--gray6);
  --border-color: var(--gray0);
  --border-button: var(--gray5);
  --bg-solar: var(--gray0);
  --bg-button: var(--gray0);
}

.center {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}

button.fancy {
  -webkit-appearance: button;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 0%;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  width: 15rem;
}

button.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: var(--border-color);
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

button.fancy a {
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--red);
}

button.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: var(--border-button);
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

button.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: var(--border-button);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

button.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: var(--border-button);

  transition: width 0.5s ease-out, right 0.3s ease-out;
}

button.fancy:hover {
  color: white;
  background: var(--bg-button) !important;
}

button.fancy:hover::before {
  width: 0.9375rem;
  background: white;
}

button.fancy:hover a {
  color: var(--text-button);
  padding-left: 1.5em;
}

button.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

button.fancy:hover .bottom-key-1,
button.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/*# sourceMappingURL=style2.css.map */

/* Night Mode */
/* 
input[type="checkbox"] {
  --webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background-color: #092c3e;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check {
  background: #fff;
  box-shadow: 0 0 0 1920px black;
  position: relative;
}

.check::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: 0.5s;
}
input[type="checkbox"]:checked ~ .check::before {
  transform: translateX(-50px);
}

.check::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #092c3e;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .check::after {
  transform: translateX(0px);
} */
.label {
  margin-top: 10px;
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}

.cursor,
.cursor2,
.cursor3 {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.cursor {
  background-color: #fff;
  height: 0;
  width: 0;
  z-index: 99999;
}
.cursor2,
.cursor3 {
  height: 36px;
  width: 36px;
  z-index: 99998;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.cursor2.hover,
.cursor3.hover {
  -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
  transform: scale(2) translateX(-25%) translateY(-25%);
  border: none;
}
.cursor2 {
  border: 2px solid var(--gray5);
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px) {
  .cursor,
  .cursor2,
  .cursor3 {
    display: none;
  }
}
